*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(207 207 207);
}
h2 {
    text-align: center;
    color: black;
    text-transform: capitalize;
    margin-bottom: 25px;
}
main {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: 100%;
    justify-content: center;
}
aside.informacion-personal ul {
    list-style: none;
}
aside.informacion-personal li {
    padding: 5px 0px;
}
aside.informacion-personal {
    height: 90vh;
    padding: 0px 10px;
    box-shadow: 15px 18px 20px 0px rgb(0 0 0 / 50%);
}
section.transaccion {
    width: 70%;
    padding: 0px 20px;
}
section.transaccion ul {
    list-style: none;
}
section.transaccion li {
    background: transparent;
    margin-bottom: 7px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 20px 8px rgb(89 109 153 / 31%);
    height: 32px;
    color: #32b938;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.transaccion strong {
    font-size: 15px;
    text-transform: capitalize;
    color: black;
}