*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: url(https://img.freepik.com/foto-gratis/hamburguesa-carne-vista-frontal-ensalada-queso-tomates-fondo-oscuro_140725-89525.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699660800&semt=ais) center/cover no-repeat;
    width: 100%;
    height: 100%;
}
h1 {
    padding: 0px;
    font-size: 16vh;
    font-weight: 900;
    letter-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 17px 20px black;
    color: #ff8303;
}
.ingresar {
    margin-top: 62vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 38px;
    border-radius: 11px;
    border: none;
    font-size: 46px;
    font-weight: 700;
    background: #00f7ff;
}